/.bsp
/.idea
/simWorkspace
/target
/tmp

/project

/.bloop

/.metals
/venv

/.vscode
.DS_Store
*.lst
*.vcd
*.fst
*.log
*.gtkw

sim_build

**/results.xml


#vcs
**/verdiLog
novas.*
*.fsdb
*.rc
ucli.key

#python
**/__pycache__

iverilog_dump.v
combined_results.xml

*.ron